.speaker-image {
	max-width: 132px;
	max-height: 170px
}

.pill-congress {
	background-image: linear-gradient(310deg, #ca28b6, #ff0000c7);
	box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
	background-size: 150%;
	background-position-x: 25%;
	letter-spacing: -.025rem;
	max-width: 135px;
	font-size: 12px;
	color: white;
	border-radius: 1.875rem;
	margin-top: -1rem;
	position: relative;
}

.image-carousel {
	max-width: 132px;
	max-height: 168px;
}

.image-flag-mobile {
	position: absolute;
	max-width: 50px;
	top: 0.5rem;
	left: calc(100% - 68%);
}

@media only screen and (max-width: 5000px) {
	.page-wrapper {
		overflow: hidden;
	}
}


@media only screen and (max-width: 1340px) {
	.page-wrapper {
		overflow: hidden;
	}
}

@media only screen and (max-width: 1140px) {
	.page-wrapper {
		overflow: hidden;
	}

	.sec-title h2 {
		font-size: 32px;
	}
}


@media only screen and (max-width: 1023px) {
	.event-block .inner-box .info-column .inner-column {
		margin-left: 0px;
	}
}

@media only screen and (max-width: 767px) {
	.sec-title h2::before {
		display: none;
	}

	.event-block .inner-box {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media only screen and (max-width: 599px) {
	.event-block .inner-box {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 479px) {
	.speaker-image {
		max-width: 125px;
		max-height: 170px;
	}

	.event-block .inner-box .image-column .inner-column {
		padding-left: 0px;
		min-height: auto;
	}

	.event-block .inner-box .image-column .image {
		position: relative;
		margin-bottom: 15px;
		max-width: 185px;
	}

	.event-block .inner-box .image-column .image img {
		width: 100%;
		display: block;
	}

}